@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qg4ehy');
  src:  url('fonts/icomoon.eot?qg4ehy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qg4ehy') format('truetype'),
    url('fonts/icomoon.woff?qg4ehy') format('woff'),
    url('fonts/icomoon.svg?qg4ehy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-assignment_ind:before {
  content: "\e85e";
}
.icon-brightness_medium:before {
  content: "\e1ae";
}
.icon-phone:before {
  content: "\e0cd";
}
.icon-content_paste:before {
  content: "\e14f";
}
.icon-delete:before {
  content: "\e872";
}
.icon-markunread:before {
  content: "\e159";
}
.icon-folder_shared:before {
  content: "\e2c9";
}
.icon-print:before {
  content: "\e8ad";
}
.icon-room:before {
  content: "\e8b4";
}
.icon-lock_open:before {
  content: "\e898";
}
.icon-lock_outline:before {
  content: "\e899";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-perm_contact_calendar:before {
  content: "\e8a3";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-playlist_add:before {
  content: "\e03b";
}
.icon-school:before {
  content: "\e80c";
}
.icon-work:before {
  content: "\e8f9";
}
